.sidebar {
	width: 50px;
	border-right: 1px solid #dddddd35;
	padding-right: 5px;

	ul {
		text-align: center;

		li {
			padding: 10px;
			margin: 28px 0;
			cursor: pointer;
			display: inline-block;
			position: relative;
			transition: all ease-out 120ms;

			i {
                display: block;
                font-size: 20px;
                transition: all ease 450ms;
            }

			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				object-fit: cover;
				margin-left: -6px;
			}

			.tooltiptext {
				display: inline-block;
				position: absolute;
				padding: 8px 15px;
				border-radius: 5px;
				margin-left: -40px;
				left: 90px;
				opacity: 0;
				top: 10%;
				visibility: hidden;
				font-size: 13px;
				letter-spacing: .5px;
				background-color: #5f6769;

				&:before {
					content: '';
					display: block;
					position: absolute;
					left: -4px;
					top: 10px;
					transform: rotate(45deg);
					width: 10px;
					height: 10px;
					background-color: inherit;
				}
			}

			&:hover {
				.tooltiptext {
					visibility: visible;
					opacity: 1;
				}
			}

			&.active {
				background-color: rgba(17, 25, 40, 0.5);
				border-radius: 10px;
			}
		}
	}
}
